<p style="color: green"><%= notice %></p>

<%= render @recipe_ingredient %>

<div>
  <%= link_to "Edit this recipe ingredient", edit_recipe_ingredient_path(@recipe_ingredient) %> |
  <%= link_to "Back to recipe ingredients", recipe_ingredients_path %>

  <%= button_to "Destroy this recipe ingredient", @recipe_ingredient, method: :delete %>
</div>
